<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFC3134F1DFD6AF0001BA803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC313631DFD6AF1001BA803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFC3136E1DFD6AF1001BA803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
